@model MvcPresentationLayer.Models.User.UserUpdateViewModel
@using System.Drawing

@{
    ViewData["Title"] = "Edit";
}

<h3>Settings</h3>

<hr />
<div class="row">
    <div class="col-md-2">
        <input class="btn" value="Profile"/>
        <input class="btn" value="Account"/>

    </div>
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control" rows="3"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <input asp-for="AvatarImageFileLocation" type="file" name="fileF" accept="image/png" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01"></label>
                    <span asp-validation-for="AvatarImageFileLocation" class="text-danger"></span>

                </div>
                <div class="col-md-6">
                          <img src="~/avatars/@{@Model.AvatarImageFileLocation}" class="img-thumbnail" width="230" />
                </div>
            </div>

            <div class="form-group py-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
