@model MvcPresentationLayer.Models.User.UserLoginViewModel;

<div class="row">
    <div class="col d-flex align-items-center justify-content-center">

        <form asp-action="Login">
            <!-- Email input -->
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

             <!-- Password input -->
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
                                 <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>


  <!-- Register -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>

  </div>
</form>
</div>
</div>