@model MvcPresentationLayer.Models.UserModel.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>

<div class="profile-container">
    <img src="~/covers/@{@Model.CoverImageFileLocation}" class="cover-photo"/>
</div>
<div>
    <img src="~/avatars/@{@Model.AvatarImageFileLocation}" class="profile-icon" />

</div>
<div class="profile-name">@Model.Nickname</div>
<p class="about">@Model.About</p>
<button class="follow-btn">Follow</button> @*IMPLEMENTAR*@
@*<button class="msg-btn">Message</button>*@
<div>
    <img src="~/avatars/@{
                @Model.CoverImageFileLocation
    }" class="cover-photo" />
</div>

