@model IEnumerable<MvcPresentationLayer.Models.Manga.MangaSelectCatalogViewModel>


@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homeStyles.css" asp-append-version="true" />

</head>
<body>

    <section class="catalog" id="catalog">
        <h3>Favorites mangas</h3> @Html.ActionLink("View All", "AllFavorites", "Manga")
        <hr />
        <div class="card-wrapper">
            @{
                foreach (var item in Model)
                {
                    <div class="card-item">
                        <a href="/Manga/MangaOnPage/@item.Id">
                            <img height="300" src=@item.PosterImageLink alt="@item.Titles?.Ja_jp" />
                            <div class="card-content">
                                <h5>@item.CanonicalTitle</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </section>
    


</body>
</html>
