@model MvcPresentationLayer.Models.HomePage.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homeStyles.css" asp-append-version="true" />

</head>
<body>

    <div class="homepage-div">
        <div class="homepage-banner">
            <div class="phrase"><h1>AniMa List</h1></div>
            <div class="subphrase"><p>alguma mini frase impactante</p></div>
            <div class="banner-grid">
                <div class="banner-info col-3">
                    <div class="infos">
                        <div><i class="uil uil-mobile-android-alt teste"></i></div>
                        <div class="info-title">
                            <h5>Título da info 1</h5>
                            <div class="description">primeira info blablabla muitas coisas escritas aqui porque eu nao sei mais a a a a a a a a a a</div>
                        </div>

                    </div>
                </div>
                <div class="banner-info col-3">
                    <div class="infos">
                        <div><i class="uil uil-mobile-android-alt teste"></i></div>
                        <div class="info-title">
                            <h5>Título da info 1</h5>
                            <div class="description">primeira info blablabla muitas coisas escritas aqui porque eu nao sei mais a a a a a a a a a a</div>
                        </div>

                    </div>
                </div><div class="banner-info col-3">
                    <div class="infos">
                        <div><i class="uil uil-mobile-android-alt teste"></i></div>
                        <div class="info-title">
                            <h5>Título da info 1</h5>
                            <div class="description">primeira info blablabla muitas coisas escritas aqui porque eu nao sei mais a a a a a a a a a a</div>
                        </div>

                    </div>
                </div><div class="banner-info col-3">
                    <div class="infos">
                        <div><i class="uil uil-mobile-android-alt teste"></i></div>
                        <div class="info-title">
                            <h5>Título da info 1</h5>
                            <div class="description">primeira info blablabla muitas coisas escritas aqui porque eu nao sei mais a a a a a a a a a a</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="catalog" id="catalog">
        <h3>Favorite Manga</h3>
        <a class="custom-link" asp-area="" asp-action="AllByFavorites" asp-controller="Manga">View All</a>
        <hr />
        <div class="card-wrapper">
            @{
                foreach (var item in Model.MangasFavorites)
                {
                    <div class="card-item">
                        <a class="custom-link" href="/Manga/MangaOnPage/@item.Id">
                            <img src=@item.PosterImageLink />
                            <div class="card-content">
                                <h5>@item.CanonicalTitle</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </section>
    <section class="catalog" id="catalog">
        <h3>Favorite Animes</h3>
        <a class="custom-link" asp-area="" asp-action="AllFavorites" asp-controller="Anime">View All</a>
        <hr />
        <div class="card-wrapper">
            @{
                foreach (var item in Model.AnimesFavorites)
                {
                    <div class="card-item">
                        <a class="custom-link" href="/Anime/AnimeOnPage/@item.Id">
                            <img src=@item.AnimePosterImage />
                            <div class="card-content">
                                <h5>@item.canonicalTitle</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </section>
    <section class="catalog" id="catalog">
        <h3>Manga by Rating</h3>
        <a class="custom-link" asp-area="" asp-action="AllByRating" asp-controller="Manga">View All</a>
        <hr />
        <div class="card-wrapper">
            @{
                foreach (var item in Model.MangasByRating)
                {
                    <div class="card-item">
                        <a class="custom-link" href="/Manga/MangaOnPage/@item.Id">
                            <img src=@item.PosterImageLink />
                            <div class="card-content">
                                <h5>@item.CanonicalTitle</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </section>
    <section class="catalog" id="catalog">
        <h3>Animes by Rating</h3>
        <a class="custom-link" asp-area="" asp-action="AllFavorites" asp-controller="Anime">View All</a>
        <hr />
        <div class="card-wrapper">
            @{
                foreach (var item in Model.AnimesByRating)
                {
                    <div class="card-item">
                        <a class="custom-link" href="/Anime/AnimeOnPage/@item.Id">
                            <img src=@item.AnimePosterImage />
                            <div class="card-content">
                                <h5>@item.canonicalTitle</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </section>

</body>
</html>