@model IEnumerable<MvcPresentationLayer.Models.Manga.MangaSelectCatalogViewModel>


@{
    ViewData["Title"] = "Home Page";
}


      <h3>Favorites mangas</h3>
      <div class="row row-cols-1 row-cols-md-6 g-4">
      @{foreach (var item in Model){
        <div class="col">
            <div class="card border-dark mb-3 h-100" style="width: 12rem;"> 
                <div class="card-header">@item.CanonicalTitle</div>

                <a href= "/Manga/MangaOnPage/@item.Id">  
                <img class="card-img-top" height="300em" src="@item.PosterImageLink">
                </a>

            </div>
        </div>
      }}
      </div>
    @Html.ActionLink("View All", "AllFavorites", "Manga")


