@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="cover-photo">
        <img src="~/avatars/yato.jpg" class="profile" />
    </div>
    <div class="profile-name">Teste</div>
    <p class="about">blablabla</p>
    <button class="msg-btn">Message</button>
    <button class="follow-btn">Following</button>
    
</div>


