@model IEnumerable<Entities.Manga.Manga>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    @{
   foreach (var item in Model)
   {            
      <h4>@item.Name inserido</h4>
   }            
}
