@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(80deg, #334869,#212D40);
    /*background-size:;*/
    /*background: #212D40;*/
    color: #fff;
}

abbr[title] {
    display: inline;
    border-bottom: none;
    text-decoration: none;
}

/*#region Sidebar */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #334869;
    width: 78px;
    height: 100%;
    /* inset: 20px; */
    /* border-radius: 50px; */
    padding: 6px 14px;
    overflow: hidden;
    transition: all 0.5s ease;
    background: linear-gradient(270deg, #334869,#212D40);
}

    .sidebar.active {
        width: 240px;
    }

.toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .toggle::before {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 3px;
        background: #212D40;
        transform: translateY(-5px);
        transition: 1s;
    }

    .toggle::after {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 3px;
        background: #212D40;
        transform: translateY(5px);
        transition: 1s;
    }

.sidebar.active .toggle::before {
    transform: translateY(0px) rotate(-405deg);
}

.sidebar.active .toggle::after {
    transform: translateY(0px) rotate(405deg);
}

.sidebar ul {
    margin-top: 75px;
    padding: 0px;
}

    .sidebar ul li {
        position: relative;
        /*height: 50px;*/
        width: 100%;
        list-style: none;
        line-height: 50px;
    }

        .sidebar ul li a {
            color: #fff;
            position: relative;
            width: 100%;
            display: flex;
            text-decoration: none;
            align-items: center;
            transition: all 0.4s ease;
            border-radius: 12px;
            white-space: nowrap;
        }

            .sidebar ul li a:hover {
                color: #222;
                background: #fff;
            }

            .sidebar ul li a i {
                height: 50px;
                min-width: 50px;
                border-radius: 12px;
                line-height: 50px;
                text-align: center;
                font-size: 1.75em;
            }

            .sidebar ul li a .sub-menu-manga {
                position: absolute;
                right: 0px;
                line-height: 50px;
                text-align: center;
                font-size: 1em;
                opacity: 0;
                transform: rotate(90deg);
                transition: all 0.4s ease;
            }

                .sidebar ul li a .sub-menu-manga.rotate {
                    transform: rotate(270deg);
                }

.sidebar.active ul li a .sub-menu-manga {
    opacity: 1;
    transition: all 0.4s ease;
    pointer-events: auto;
}

.sidebar ul li a .sub-menu-anime {
    position: absolute;
    right: 0px;
    line-height: 50px;
    text-align: center;
    font-size: 1em;
    opacity: 0;
    transform: rotate(90deg);
    transition: all 0.4s ease;
}

    .sidebar ul li a .sub-menu-anime.rotate {
        transform: rotate(270deg);
    }

.sidebar.active ul li a .sub-menu-anime {
    opacity: 1;
    transition: all 0.4s ease;
    pointer-events: auto;
}

.sidebar ul ul {
    margin-top: 0px;
    position: static;
    transition: all 0.4s ease;
}

    .sidebar ul ul li {
        line-height: 42px;
        transition: all 0.4s ease;
        border-bottom: none;
    }

        .sidebar ul ul li a {
            font-size: 15px;
            width: 130px;
            margin-left: 60px;
            transition: all 0.4s ease;
        }

            .sidebar ul ul li a .sub-title {
                padding-left: 15px;
            }

.sidebar ul .manga-show {
    display: none;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

    .sidebar ul .manga-show.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transition: all 0.4s ease;
        pointer-events: auto;
    }

.sidebar ul .anime-show {
    display: none;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

    .sidebar ul .anime-show.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transition: all 0.4s ease;
        pointer-events: auto;
    }



.sidebar .title {
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

.sidebar.active .title {
    opacity: 1;
    transition: all 0.4s ease;
    pointer-events: auto;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}
/*#endregion */

/*#region Customizations */
.custom-logo {
    vertical-align: bottom;
    height: 40px;
    width: 35px;
}

.title-logo {
    padding: 8px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.custom-link {
    color: #fff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 12px;
}

    .custom-link:hover {
        color: #222;
        padding: 8px;
        background: #fff;
    }

.custom-link-nav {
    font-size: 16px;
}

.custom-table {
    color: #fff;
}

    .custom-table th {
        text-align: center;
    }

    .custom-table td {
        vertical-align: text-bottom;
        text-align: center;
    }

.custom-td-ed {
    display: flex;
    justify-content: center;
}

.columns {
    padding: 18px;
    column-count: 3;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.icon-ed {
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

.text-ed {
    padding-left: 3px;
}



.align-about-us {
    justify-content: center;
}
/*#endregion */

/*#region Profile */
.profile-images {
    margin: 15px auto;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cover-photo {
    height: 350px;
    width: 100%;
    border-radius: 5px;
}

.profile-icon {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    /*border: 0.01px solid #fff;*/
    padding: 1px;
    background: #212D40;
    position: absolute;
    bottom: -45px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.msg-btn, .follow-btn {
    background: #212D40;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 20px;
}

.alternate-btn {
    background: #212D40;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.follow-btn-config {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.alternate-btn-config {
    display: flex;
    justify-content: space-evenly;
}


.clicked-btn {
    margin-left: 10px;
    background: transparent;
    color: #02899c;
}

.msg-btn:hover, .follow-btn:hover {
    color: #231e39;
    background: #fff;
    pointer-events: auto;
    transition: all 0.5s ease;
}


.profile-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-evenly;
}


.profile-info {
    background-color: rgba(0,0,0,.50);
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    border-radius: 5px;
    max-height: 300px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    overflow: auto;
}

.profile-name {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0 15px;
    margin-top: 5px;
}

.profile-about {
    margin: 15px;
    margin-top: 20px;
    width: 100%;
}

    .profile-about h5 {
        font-weight: bold;
    }

.about {
    line-height: 21px;
    word-break: break-word;
}

.profile-favorites {
    background-color: rgba(0,0,0,.50);
    width: 45%;
    display: flex;
    border-radius: 5px;
    max-height: 300px;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 75%);
    overflow: auto;
    justify-content: space-evenly;
    flex-direction: row;
}

.btn-config {
    width: 25%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch;
}

.show {
    width: 100%;
    margin: 15px;
}

.profile-manga-show {
}

    .profile-manga-show.active {
        background-color: white;
        height: 100%;
        border-radius: 5px;
    }

.profile-anime-show {
}

    .profile-anime-show.active {
        background-color: red;
        height: 100%;
        border-radius: 5px;
    }

.profile-favorites-show {
}

    .profile-favorites-show.active {
        background-color: darkgreen;
        height: 100%;
        border-radius: 5px;
    }

.profile-geral-list {
    background-color: rgba(0,0,0,.50);
    width: 90%;
    margin-top: 3%;
    display: flex;
    border-radius: 5px;
    max-height: 500px;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 75%);
    overflow: auto;
    justify-content: space-between;
    flex-direction: row;
}

    .profile-geral-list .display-list {
        margin: 1%;
        width: 50%;
    }

        .profile-geral-list .display-list div {
            margin: 1%;
            padding: 2%;
        }

.dp-list-card {
    text-decoration: none;
}

    .dp-list-card li {
        color: #fff;
        list-style: none;
        padding: 8px 12px;
        width: 100%;
        border-radius: 3%;
    }

        .dp-list-card li:hover {
            background-color: #fff;
            color: #222;
        }

        .dp-list-card li img {
            border-radius: 5px;
            height: 80px;
            width: 65px;
        }
/*#endregion */

/*#region Search Bar */
.wrapper {
    z-index: 2;
    right: 1rem;
    position: absolute;
    max-width: 400px;
}

    .wrapper .search-input {
        position: relative;
        background-color: #fff;
        width: 100%;
        color: #333;
        border-radius: 8px;
        box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    }

.search-input input {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon {
    height: 45px;
    width: 55px;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #212D40;
    cursor: pointer;
}

.search-input .autocom-box {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.8s ease;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input.active .autocom-box li {
    display: block;
    align-items: center;
}

.autocom-box li:hover {
    background-color: #212D40;
    color: #fff;
}

.autocom-box a {
    text-decoration: none;
}

    .autocom-box a li .manga-name {
        padding-left: 8px;
    }

    .autocom-box a li img {
        border-radius: 5px;
        height: 80px;
        width: 65px;
    }

    .autocom-box a li {
        list-style: none;
        color: #222;
        padding: 8px 12px;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        display: none;
    }

.search-input.active .autocom-box a li {
    display: block;
    align-items: center;
}

.autocom-box a li:hover {
    background-color: #212D40;
    color: #fff;
}
/*#endregion */

/*#region IDs */
#githubId {
    display: flex;
    justify-content: center;
    width: 430px;
    height: 190px;
}

#OurCodeId {
    padding: 12px;
    display: flex;
    justify-content: center;
}

#centerId {
    display: flex;
    justify-content: center;
}

#linkId {
    padding-right: 3px;
    color: #fff;
    transition: all 0.5s ease;
}
/*#endregion */

/*#region MangaOnPage */
.mop-banner {
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.mop-header {
    position: relative;
}

@media (min-width: 1040px) and (max-width: 1540px) {

    .mop-container {
        max-width: 1140px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.mop-container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
    min-height: 250px;
    margin: 0 auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.cover-wrap.overlap-banner {
    margin-top: -125px;
}

.cover-wrap {
    position: relative;
}

.mop-poster {
    /*height: 275px;*/
    /*width: 185px;*/
    border-radius: 2px;
    /*position: absolute;*/
    /*bottom: -110px;*/
    /*left: 100px;*/
    box-shadow: 0 0 29px rgb(49 54 68 / 25%);
    margin-top: 15px;
    width: 100%;
}


.mop-actions {
    display: grid;
    grid-template-columns: auto 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-gap: 15px;
}

.mop-list {
    align-items: center;
    background: red;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    height: 35px;
    justify-content: center;
    line-height: 1.3rem;
}

    .mop-list .addList {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        width: calc(100% - 34px);
        font-size: 16px;
    }

    .mop-list .dropdown {
        background: rgba(var(--color-white),.14);
        border-radius: 0 3px 3px 0;
        color: rgba(var(--color-white),.8);
        width: 34px;
        height: 100%;
    }

        .mop-list .dropdown .el-dropdown-link {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            padding-right: 4px;
            width: 100%;
            outline: 0;
        }

.el-dropdown {
    display: inline-block;
    position: relative;
    color: #606266;
    font-size: 14px;
}

.mop-favourite {
    align-items: center;
    background: red;
    border-radius: 5px;
    color: rgb(var(--color-white));
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 800;
    height: 35px;
    justify-content: center;
    padding-left: 1px;
    transition: .2s;
    padding: 0 14px;
}
.mop-content {
    display: inline-grid;
    grid-template-rows: -webkit-min-content -webkit-min-content auto;
    grid-template-rows: min-content min-content auto;
    padding-top: 25px;
}
.mop-content h1 {
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
    font-weight: 400;
}
.mop-description {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    max-width: 900px;
    padding: 15px 0;
    transition: .2s;
}
.mop-description-length-toggle{
    /*background: linear-gradient(0deg,rgb(var(--color-foreground)) 30%,rgba(var(--color-foreground),.4));*/
    color: rgb(var(--color-text-lighter));
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -35px;
    max-width: 900px;
    opacity:0;
    padding-bottom: 5px;
    padding-top: 20px;
    text-align: center;
    transition: .2s;
}
.mop-description-length-toggle:hover {
    opacity:1;
}









.mop-images {
    width: 100%;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.maaop {
    position: absolute;
    font-weight: bold;
    bottom: 0px;
    left: 300px;
    text-shadow: 2px 0 #333, -2px 0 #333, 0 2px #333, 0 -2px #333, 1px 1px #333, -1px -1px #333, 1px -1px #333, -1px 1px #333;
}

.mop-syn {
    display: flex;
    flex-direction: column;
}

    .mop-syn h5 {
        left: 365px;
        position: absolute;
    }

    .mop-syn p {
        left: 300px;
        top: 35px;
        position: relative;
    }

.manga-info {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

    .manga-info:hover {
        text-decoration: none;
        color: #fff;
    }
/*#endregion */

/*#region ModalAddToList */
.modalAdd {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalAdd-Content {
    background-color: #212D40;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 100%;
    /*color:#222;*/
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
/*#endregion */
