@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(80deg, #334869,#212D40);
    background-size:;
    /*background: #212D40;*/
    color: #fff;
}
/*Sidebar*/
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #334869;
    width: 78px;
    height: 100%;
    /* inset: 20px; */
    /* border-radius: 50px; */
    padding: 6px 14px;
    overflow: hidden;
    transition: all 0.5s ease;
    background: linear-gradient(270deg, #334869,#212D40);
}

    .sidebar.active {
        width: 240px;
    }

.toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .toggle::before {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 3px;
        background: #212D40;
        transform: translateY(-5px);
        transition: 1s;
    }

    .toggle::after {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 3px;
        background: #212D40;
        transform: translateY(5px);
        transition: 1s;
    }

.sidebar.active .toggle::before {
    transform: translateY(0px) rotate(-405deg);
}

.sidebar.active .toggle::after {
    transform: translateY(0px) rotate(405deg);
}

.sidebar ul {
    margin-top: 75px;
    padding: 0px;
}

    .sidebar ul li {
        position: relative;
        height: 50px;
        width: 100%;
        list-style: none;
        line-height: 50px;
    }


        .sidebar ul li a {
            color: #fff;
            position: relative;
            width: 100%;
            display: flex;
            text-decoration: none;
            align-items: center;
            transition: all 0.4s ease;
            border-radius: 12px;
            white-space: nowrap;
        }

            .sidebar ul li a:hover {
                color: #222;
                background: #fff;
            }

            .sidebar ul li a i {
                height: 50px;
                min-width: 50px;
                border-radius: 12px;
                line-height: 50px;
                text-align: center;
                font-size: 1.75em;
            }

.sidebar .title {
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

.sidebar.active .title {
    opacity: 1;
    transition: all 0.4s ease;
    pointer-events: auto;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}

/*Customizations */
.custom-logo {
    vertical-align: bottom;
    height: 40px;
    width: 35px;
}

.title-logo {
    padding: 8px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.custom-link {
    color: #fff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 12px;
}

    .custom-link:hover {
        color: #222;
        padding: 8px;
        background: #fff;
    }

.custom-link-nav {
    font-size: 16px;
}

.custom-table {
    color: #fff;
}

    .custom-table th {
        text-align: center;
    }

    .custom-table td {
        vertical-align: text-bottom;
        text-align: center;
    }

.custom-td-ed {
    display: flex;
    justify-content: center;
}

.columns {
    padding:18px;
    column-count: 3;
    column-gap: 30px;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.icon-ed {
    border-radius:30px;
    width: 200px;
    height: 200px;
}


/*Search Bar*/
.wrapper {
    z-index: 2;
    left: 25rem;
    position: absolute;
    max-width: 400px;
    /*margin: 150px auto;*/
}

    .wrapper .search-input {
        position: relative;
        background-color: #fff;
        width: 100%;
        color: #333;
        border-radius: 8px;
        box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    }

.search-input input {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #212D40;
    cursor: pointer;
}

.search-input .autocom-box {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background-color: #212D40;
    color: #fff;
}
