<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AniMa List</title>
    <link rel="shortcut icon" href="~/icon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebMangaProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">



</head>
<body>
    <div class="sidebar">
        <div class="toggle"></div>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="uil uil-estate"></i>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="manga-btn">
                    <i class="uil uil-book-open"></i>
                    <span class="title">Manga</span>
                    <i class="uil uil-caret-right sub-menu-manga"></i>
                </a>
                <ul class="manga-show">
                    <li>
                        <a asp-area="" asp-controller="Manga" asp-action="Index">
                            <span class="sub-title">All Favorites</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="MangaDb" asp-action="Index">
                            <span class="sub-title">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="anime-btn">
                    <i class="uil uil-play-circle"></i>
                    <span class="title">Anime</span>
                    <i class="uil uil-caret-right sub-menu-anime"></i>
                </a>
                <ul class="anime-show">
                    <li>
                        <a asp-area="" asp-controller="Anime" asp-action="Index">
                            <span class="sub-title">Anime Index</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="#" asp-action="#">
                            <span class="sub-title">Teste</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="AboutUs">
                    <i class="uil uil-users-alt"></i>
                    <span class="title">AboutUs</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="uil uil-cog"></i>
                    <span class="title">Settings</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="home_content">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container-fluid custom-navbar">
                    <a class="navbar-brand custom-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/avatars/Logo.png" class="custom-logo" />
                        <span class="title-logo">Anima List</span>
                    </a>
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav  ">
                            <li class="nav-item custom-link-nav">
                                <a class="nav-link custom-link " asp-area="" asp-controller="User" asp-action="Index">Users</a>
                            </li>

                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item ">
                                        <a class="nav-link custom-link " asp-area="" asp-controller="User" asp-action="Profile">Hi @User.Identity.Name!</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item custom-link-nav">
                                        <a class="nav-link custom-link" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                    </li>
                                }
                            }
                            <div class="wrapper">
                                <div class="search-input">
                                    <input type="text" placeholder="Search...">
                                    <div class="autocom-box">
                                    </div>
                                    <div class="icon">
                                        <i class="uil uil-search search-icon"></i>
                                    </div>
                                </div>
                            </div>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    </div>

    <script>
        let sidebar = document.querySelector('.sidebar');
        let toggle = document.querySelector('.toggle');
        toggle.onclick = function() {
            sidebar.classList.toggle('active')
            if (mangashow.classList.contains('active')) {
                mangashow.classList.toggle('active')
                submenumanga.classList.toggle('rotate')
            }
            if(animeshow.classList.contains('active')){
                animeshow.classList.toggle('active')
                submenuanime.classList.toggle('rotate')
            }
        }

        let mangashow = document.querySelector('.manga-show');
        let animeshow = document.querySelector('.anime-show');

        let mangabtn = document.querySelector('.manga-btn');
        let animebtn = document.querySelector('.anime-btn');

        let submenumanga = document.querySelector('.sub-menu-manga')
        let submenuanime = document.querySelector('.sub-menu-anime')

        mangabtn.onclick = function () {
            if (sidebar.classList.contains('active')) {
                mangashow.classList.toggle('active')
                submenumanga.classList.toggle('rotate')
            }
            else{
                sidebar.classList.toggle('active')
                mangashow.classList.toggle('active')
                submenumanga.classList.toggle('rotate')
            }
        }
        animebtn.onclick = function () {
            if (sidebar.classList.contains('active')) {
                animeshow.classList.toggle('active')
                submenuanime.classList.toggle('rotate')
            } else {
                sidebar.classList.toggle('active')
                animeshow.classList.toggle('active')
                submenuanime.classList.toggle('rotate')
            }
        }

    </script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
