@model IEnumerable<MvcPresentationLayer.Models.MangaModels.MangaSelectCatalogViewModel>


@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homeStyles.css" asp-append-version="true" />

</head>
<body>
    <section class="catalog" id="catalog">
        <h3>Manga</h3>
        <a class="custom-link" asp-area="" asp-action="AllFavorites" asp-controller="Manga">View All</a>
        <hr />
        <div class="card-wrapper">
            @{
                foreach (var item in Model)
                {
                    <div class="card-item">
                        <a class="custom-link" href="/Manga/MangaOnPage/@item.Id">
                            <img src=@item.PosterImageLink alt="@item.Titles?.Ja_jp" />
                            <div class="card-content">
                                <h5>@item.CanonicalTitle</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </section>



</body>
</html>
