@model MvcPresentationLayer.Models.Manga.MangaOnPageViewModel

@{
    ViewData["Title"] = @Model.Name;
}



<div class="row" id="Banner">
    <!-- Background image -->
    <img class="" wwidth="100%" height="400" src="@Model.CoverImageLink" alt="Background image">
</div>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="fw-light">Synopsis</h2>
    <p>@Model.Synopsis</p>
  </div>
</section>